<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Usuarios
                </h4>
                <table class="table table-hover" *ngIf="usuarios.length > 0">
                    <tbody>
                        <tr *ngFor="let usuario of usuarios" class="pointer" [routerLink]="['/usuarios']">
                            <td class="w70">
                                <div class="circular--portrait">
                                    <img [src]="usuario.img | imagen" />
                                </div>
                            </td>
                            <td>{{usuario.nombre}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" *ngIf="usuarios.length === 0">
                    No hay registros
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Médicos
                </h4>
                <table class="table table-hover" *ngIf="medicos.length > 0">
                    <tbody>
                        <tr *ngFor="let medico of medicos" class="pointer" [routerLink]="['/medico', medico._id]">
                            <td class="w70">
                                <div class="circular--portrait">
                                    <img [src]="medico.img | imagen:'medico'" />
                                </div>
                            </td>
                            <td>{{medico.nombre}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" *ngIf="medicos.length === 0">
                    No hay registros
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Hospitales
                </h4>
                <table class="table table-hover" *ngIf="hospitales.length > 0">
                    <tbody>
                        <tr *ngFor="let hospital of hospitales" class="pointer" [routerLink]="['/hospitales']">
                            <td class="w70 pointer">
                                <div class="circular--portrait">
                                    <img [src]="hospital.img | imagen:'hospital'" />
                                </div>
                            </td>
                            <td>{{hospital.nombre}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" *ngIf="hospitales.length === 0">
                    No hay registros
                </div>
            </div>
        </div>
    </div>
</div>